#menu-item-541, #menu-item-535, #menu-item-551{
    opacity: 1;
}
.menu-pointer{
    margin-right: 49.5%;
}

/*================
Easingslider Images
================*/

.easingslider-container .easingslider-wrapper-outer{
    width: 100% !important;
}
.easingslider-769, .easingslider-771{
    margin: 0 auto;
}
.easingslider-prev, .easingslider-next{
    top: 45%;
    width: 95px;
    height: 80px;
}
.easingslider-prev{
    background-image: url(../images/media/next_picANDvideo_left.png);
}
.easingslider-next{
    background-image: url(../images/media/next_picANDvideo_right.png);
}
.easingslider-arrows-outside .easingslider-prev{
    left: -130px;
}
.easingslider-arrows-outside .easingslider-next{
    right: -130px;
}
.easingslider-pagination{
    display: none;
}

/*================
Video Slider
================*/

#huge_it_slideshow_right_videogallery_2, #huge_it_slideshow_left_videogallery_2{
    width: 95px !important;
    height: 80px !important;
    margin-top: -43px !important;
}
#huge_it_slideshow_right_videogallery_2{
    background-image: url(../images/media/next_picANDvideo_right.png) !important;
    right: -130px !important;
}
#huge_it_slideshow_left_videogallery_2{
    background-image: url(../images/media/next_picANDvideo_left.png) !important;
    left: -130px !important;
}


@media screen and (max-width: 1024px) {
    .easingslider-prev, .easingslider-next, #huge_it_slideshow_right_videogallery_2, #huge_it_slideshow_left_videogallery_2{
        height: 65px !important;
        background-size: contain !important;
    }
    .easingslider-arrows-outside .easingslider-next, #huge_it_slideshow_right_videogallery_2{
        right: -90px !important;
    }
    .easingslider-arrows-outside .easingslider-prev, #huge_it_slideshow_left_videogallery_2{
        left: -90px !important;
    }
}

@media screen and (max-width: 768px) {
    
    /*==================================
    Easingslider Images and video slider
    ===================================*/
    .easingslider-buttons, #huge_it_slideshow_right_videogallery_2, #huge_it_slideshow_left_videogallery_2 {
        display: none !important;
    }
    .easingslider-pagination, .huge_it_slideshow_dots_thumbnails_videogallery_2{
        display: block !important;
    }
    .easingslider-pagination-outside.easingslider-pagination-bottom-center .easingslider-pagination{
        bottom: -10px;
    }
    .easingslider-pagination .easingslider-page span, .easingslider-pagination .easingslider-page.active span{
        width: 7px;
        height: 7px;
        background-image: none;
        border: 1px solid #13392f;
        border-radius: 50%;
        margin: 0 5px 0 0;
    }
    .easingslider-pagination .easingslider-page.active span{
        background-color: #13392f;
    }
    .huge_it_slideshow_dots_thumbnails_videogallery_2{
        margin-top: 77% !important;
    }
    .huge_it_slideshow_dots_videogallery_2{
        width: 7px !important;
        height: 7px !important;
        border: 1px solid #13392f !important;
        border-radius: 50% !important;
        margin: 0 5px 0 0 !important;
        background-color: transparent !important;
    }
    .huge_it_slideshow_dots_active_videogallery_2{
        background-color: #13392f !important;
    }
}

