.pro-content{
    background-color: #e5f0ec;
}


/*
.squ{
    width: 279px;
    height: 180px;
    margin-right: 5px;
}
.title{
    color: white;
    text-align: center;
    padding: 63px 0;
    font-size: 30px;
}
p, ul>li{
    font-size: 20px;
}
.squ-arabs{
    background-color: #5f8e82;
}
.squ-arabs-2{
    background-color: #739d92;
}
.squ-arabs-3{
    background-color: #97bcb2;
}

.squ-dis{
    background-color: #6a8d5f;    
}
.squ-dis-2{
    background-color: #87a581;    
}
.squ-dis-3{
    background-color: #9db79a;    
}

.squ-family{
    background-color: #5c7280;    
}
.squ-family-2{
    background-color: #7e909a;    
}
.squ-family-3{
    background-color: #96a7ae;    
}

.squ-jew{
    background-color: #5a7772;    
}
.squ-jew-2{
    background-color: #7b948e;    
}
.squ-jew-3{
    background-color: #94aba3;    
}

.squ-women{
    background-color: #805a81;    
}
.squ-women-2{
    background-color: #987e9b;    
}
.squ-women-3{
    background-color: #ab99af;    
}

.squ-halfway{
    background-color: #5a7772;    
}
.squ-halfway-2{
    background-color: #7b948e;    
}
.squ-halfway-3{
    background-color: #94aba3;    
}

.squ-golocal{
    background-color: #478576;    
}
.squ-golocal-2{
    background-color: #6d9f93;    
}
.squ-golocal-3{
    background-color: #8ab2a9;    
}

.squ-diver{
    background-color: #62c7a5;    
}
.squ-diver-2{
    background-color: #7bd7b8;    
}
.squ-diver-3{
    background-color: #b1e6d4;    
}

.squ-young{
    background-color: #3da987;    
}
.squ-young-2{
    background-color: #65ba9d;    
}
.squ-young-3{
    background-color: #84c8b1;    
}

.squ-worthbus{
    background-color: #659597;    
}
.squ-worthbus-2{
    background-color: #84aaab;    
}
.squ-worthbus-3{
    background-color: #9cbcbb;    
}

.squ-goodcause{
    background-color: #97a09f;    
}
.squ-goodcause-2{
    background-color: #adb3b3;    
}
.squ-goodcause-3{
    background-color: #bcc2c2;    
}*/